<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <BingMyDesktop.Properties.Settings>
      <setting name="BackupPath" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </BingMyDesktop.Properties.Settings>
  </applicationSettings>
</configuration>