<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <BingMyDesktop.Properties.Settings>
      <setting name="BackupPath" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>%mypictures%</value>
      </setting>
    </BingMyDesktop.Properties.Settings>
  </applicationSettings>
</configuration>